@charset "UTF-8";
html,
body {
  height: 100%;
  width: 100%;
  overflow: visible; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

h1,
h2,
h3 {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }

.wrapper {
  height: 100%;
  margin: 0 auto; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.screen {
  height: 100vh;
  margin: 0 auto; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.screenmeeting {
  background-color: black;
  background-image: url(../../img/meeting_screen/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.screenmeeting__container {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.menu__list .menu__item {
  display: inline-block;
  font-family: 'ubuntumedium', sans-serif;
  font-size: 0.81rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase; }
  .menu__list .menu__item:after {
    content: "•";
    display: inline;
    color: #fff; }
  .menu__list .menu__item:last-child:after {
    content: "";
    display: inline-block;
    color: #fff; }
.menu__list .menu__item-link {
  color: #fff;
  margin: 0 13px; }
  .menu__list .menu__item-link:hover {
    color: #aaa; }

.screenmeeting__anker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.button, .screencomments__button {
  border-radius: 5px;
  width: 97px;
  height: 36px;
  text-align: center;
  border: none;
  background-color: #e45028;
  cursor: pointer;
  font-family: 'ubuntumedium', sans-serif;
  font-size: 0.81rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase; }
  .button:hover, .screencomments__button:hover {
    color: burlywood; }

.screenmeeting__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.screenmeeting__content-img {
  width: 451px;
  height: 425px;
  background-image: url(../img/icons/drops.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin-left: -40px; }
  .screenmeeting__content-img:after {
    content: "";
    display: block;
    width: 417px;
    height: 424px;
    background-image: url(../img/meeting_screen/burger.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -62px;
    left: 30px; }

.screenmeeting__content-title {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  font-family: 'Gagalin-Regular', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #f9b43b;
  margin-top: -50px; }
  .screenmeeting__content-title .screenmeeting__content-titlemode {
    font-family: 'Lifehack-Medium', sans-serif;
    text-transform: lowercase;
    font-size: 4rem;
    color: #fff;
    font-style: italic;
    font-weight: 400;
    padding-top: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.screenmeeting_arrow-link {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../../img/icons/arrow-scroll.svg);
  background-repeat: no-repeat;
  margin: auto; }

.screenbest {
  background-color: #fff;
  background-image: url(../../img/best_screen/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.screenbest__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.screenbest__title-text {
  font-family: 'Gagalin-Regular', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #2f3234;
  text-align: center;
  margin-top: -50px; }

.screenbest__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .screenbest__list .screenbest__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 290px;
    margin: 0 15px; }

.screenbest__item-img {
  width: 185px;
  min-height: 150px; }

.screenbest__item-img_meat {
  background-image: url(../img/icons/meat.svg);
  background-repeat: no-repeat;
  background-position: center; }

.screenbest__item-img_hand {
  background-image: url(../img/icons/hand.svg);
  background-repeat: no-repeat;
  background-position: center; }

.screenbest__item-img_natural {
  background-image: url(../img/icons/natural.svg);
  background-repeat: no-repeat;
  background-position: center; }

.screenbest__item-title {
  text-align: center;
  vertical-align: baseline;
  font-family: 'Lifehack-Medium', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 20px; }

.screenbest__item-content {
  font-family: 'ubuntulight', sans-serif;
  color: rgba(47, 50, 52, 0.8);
  font-size: 0.8rem;
  text-align: justify;
  line-height: 24px; }

.screencomments {
  background-color: #333; }

.screencomments__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0; }
  .screencomments__list .screencomments__item {
    position: relative; }
    .screencomments__list .screencomments__item:hover .screencomments__content {
      opacity: 1; }
    .screencomments__list .screencomments__item .screencomments__avatar {
      height: 50vh;
      min-height: 325px;
      display: block; }

.screencomments__content {
  position: absolute;
  top: 50px;
  left: 20px;
  opacity: 0; }

.screencomments__title {
  font-family: 'Gagalin-Regular', sans-serif;
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 20px;
  font-weight: normal; }

.screencomments__text {
  font-family: 'ubuntulight', sans-serif;
  font-size: 0.875rem;
  color: #fff;
  line-height: 20px;
  text-align: left; }

.screencomments__button {
  background-color: #2f3234; }

.pagginator__list {
  position: fixed;
  top: 80px;
  right: 50px; }
  .pagginator__list .pagginator__item {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 15px;
    position: relative; }
    .pagginator__list .pagginator__item:first-child:after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 1px solid #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

/*# sourceMappingURL=main.css.map */