@charset "UTF-8";
.screenteam__text, .screenmenu__content-text, .screenform__label-name, .screenform__label-phone, .screenform__label-street, .screenform__label-house, .screenform__label-corpus, .screenform__label-flat, .screenform__label-floor, .screenform__label-comment, .screenform__label-radio, .screenform__label-checkbox, .screenform__button-clear, .footer__contacts-adress {
  font-family: 'ubuntulight', sans-serif;
  color: #fff;
  font-size: 0.875rem;
  text-transform: full-width; }

html,
body {
  height: 100%;
  width: 100%;
  overflow: visible; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

h1,
h2,
h3 {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }

.wrapper {
  height: 100%;
  margin: 0 auto; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.screen {
  min-height: 100vh;
  margin: 0 auto; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 650px; }

.screenmeeting {
  background-color: black;
  background-image: url(../img/meeting_screen/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.screenmeeting__container {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__list .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: 'ubuntumedium', sans-serif;
    font-size: 0.81rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase; }
    .menu__list .menu__item:after {
      content: "•";
      display: block;
      color: #fff; }
    .menu__list .menu__item:last-child:after {
      content: "";
      display: block;
      color: #fff; }
  .menu__list .menu__item-link {
    color: #fff;
    margin: 0 13px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu__list .menu__item-link:hover {
      color: #aaa; }

.menu__item-link_button {
  border-radius: 5px;
  width: 97px;
  height: 36px;
  border: none;
  background-color: #e45028;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'ubuntumedium', sans-serif;
  font-size: 0.81rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase; }
  .menu__item-link_button:hover {
    color: burlywood; }

.screenmeeting__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.screenmeeting__content-img {
  width: 451px;
  height: 425px;
  background-image: url(../img/icons/drops.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin-left: -40px; }
  .screenmeeting__content-img:after {
    content: "";
    display: block;
    width: 417px;
    height: 424px;
    background-image: url(../img/meeting_screen/burger.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -62px;
    left: 30px; }

.screenmeeting__content-title {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  font-family: 'Gagalin-Regular', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #f9b43b;
  margin-top: -50px; }
  .screenmeeting__content-title .screenmeeting__content-titlemode {
    font-family: 'Lifehack-Medium', sans-serif;
    text-transform: lowercase;
    font-size: 4rem;
    color: #fff;
    font-style: italic;
    font-weight: 400;
    padding-top: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.screenmeeting_arrow-link {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/icons/arrow-scroll.svg);
  background-repeat: no-repeat;
  margin: auto; }

.screenbest {
  background-color: #fff;
  background-image: url(../img/best_screen/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.screenbest__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.screenbest__title-text {
  font-family: 'Gagalin-Regular', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #2f3234;
  text-align: center;
  margin-top: -50px; }

.screenbest__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .screenbest__list .screenbest__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 22px;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }

.screenbest__item-img {
  width: 185px;
  min-height: 150px; }

.screenbest__item-img_meat {
  background-image: url(../img/icons/meat.svg);
  background-repeat: no-repeat;
  background-position: center; }

.screenbest__item-img_hand {
  background-image: url(../img/icons/hand.svg);
  background-repeat: no-repeat;
  background-position: center; }

.screenbest__item-img_natural {
  background-image: url(../img/icons/natural.svg);
  background-repeat: no-repeat;
  background-position: center; }

.screenbest__item-title {
  text-align: center;
  vertical-align: baseline;
  font-family: 'Lifehack-Medium', sans-serif;
  font-size: 1.5rem; }

.screenbest__item-content {
  font-family: 'ubuntulight', sans-serif;
  color: rgba(47, 50, 52, 0.8);
  font-size: 0.8rem;
  text-align: justify;
  line-height: 24px; }

.screenteam {
  background-image: url(../img/team_screen/bg_team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.screenteam__container {
  width: 49%;
  min-height: 100vh;
  background-color: rgba(47, 50, 52, 0.93);
  position: absolute;
  top: 0;
  left: 51%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.screenteam__title-text {
  font-family: 'Gagalin-Regular', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #f9b43b;
  padding-bottom: 40px;
  margin-top: -30px;
  margin-left: -50px; }

.screenteam__item {
  margin-bottom: 25px; }

.screenteam__name {
  font-family: 'Gagalin-Regular';
  font-size: 0.875rem;
  color: #fff;
  text-transform: uppercase;
  margin-left: 20px;
  position: relative; }
  .screenteam__name:before {
    content: "";
    display: block;
    width: 9px;
    height: 7px;
    background-image: url(../img/team_screen/arrow-down.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: -20px; }

.screenteam__name_active {
  color: #f9b43b; }
  .screenteam__name_active:before {
    opacity: 0; }
  .screenteam__name_active:after {
    content: "";
    display: block;
    width: 9px;
    height: 7px;
    background-image: url(../img/team_screen/arrow-up.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: -20px; }
  .screenteam__name_active + .screenteam__content {
    height: 100%; }

.screenteam__content {
  margin-left: 20px;
  padding-top: 10px;
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.screenteam__avatar-img {
  border-radius: 50%;
  width: 6.25rem;
  height: 6.25rem;
  -o-object-fit: cover;
     object-fit: cover; }

.screenteam__info {
  padding-left: 20px;
  max-width: 230px; }

.screenteam__position {
  font-family: 'ubuntubold';
  color: #fff;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-weight: 700;
  padding-bottom: 15px; }

.screenmenu {
  background-image: url(../img/menu_screen/bg_screenmenu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  overflow: hidden; }

.screenmenu__title-text {
  font-family: 'Gagalin-Regular', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  padding: 8%; }

.screenmenu_accordeon {
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.screenmenu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .screenmenu__item .screenmenu__position {
    position: relative;
    height: 100vh;
    max-width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .screenmenu__item:first-child .screenmenu__position {
    background-image: url(../img/menu_screen/bg_meat.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .screenmenu__item:nth-child(2) .screenmenu__position {
    background-image: url(../img/menu_screen/bg_vegan.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .screenmenu__item:last-child .screenmenu__position {
    background-image: url(../img/menu_screen/bg_diet.jpg);
    background-repeat: no-repeat;
    background-size: cover; }

.screenmenu__position-block {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }

.screenmenu__position-title {
  font-family: 'Gagalin-Regular', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-left: 60%;
  white-space: nowrap; }

.screenmenu__content {
  min-height: 100vh;
  width: 65%;
  background-color: rgba(76, 78, 80, 0.93);
  width: 0; }

.screenmenu__content-text {
  line-height: 24px;
  padding: 50px 30px; }

.screenmenu__position_active + .screenmenu__content {
  width: 78%; }
.screenmenu__position_active .screenmenu__position-title {
  color: #f9b43b; }

.screencomments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #333;
  height: 100vh; }

.screencomments__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0; }
  .screencomments__list .screencomments__item {
    position: relative;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    height: 50%; }
    .screencomments__list .screencomments__item:hover .screencomments__content {
      opacity: 1; }
    .screencomments__list .screencomments__item:hover:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(69, 69, 69, 0.7);
      position: absolute;
      top: 0; }

.screencomments__img {
  width: 100%;
  height: 100%; }

.screencomments__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.screencomments__content {
  position: absolute;
  top: 50px;
  left: 20px;
  opacity: 0; }

.screencomments__title {
  font-family: 'Gagalin-Regular', sans-serif;
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 20px;
  font-weight: normal; }

.screencomments__text {
  font-family: 'ubuntulight', sans-serif;
  font-size: 0.875rem;
  color: #fff;
  line-height: 20px;
  text-align: left; }

.screencomments__button {
  border-radius: 5px;
  width: 97px;
  height: 36px;
  border: none;
  background-color: #e45028;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'ubuntumedium', sans-serif;
  font-size: 0.81rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background-color: #2f3234; }
  .screencomments__button:hover {
    color: burlywood; }

.screenform {
  background-image: url(../img/form_screen/bg-screenform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.screenform__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.screenform__title-text {
  font-family: 'Gagalin-Regular', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #f9b43b;
  margin-bottom: 20px; }

.screenform__form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .screenform__form .screenform__base {
    max-width: 461px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .screenform__form .screenform__field {
    margin-bottom: 10px; }

.screenform__label-name {
  margin-bottom: 5px; }

.screenform__field-name {
  width: 221px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  padding-left: 15px; }

.screenform__label-phone {
  margin-bottom: 5px; }

.screenform__field-phone {
  width: 221px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  padding-left: 15px; }

.screenform__label-street {
  margin-bottom: 5px; }

.screenform__field-street {
  width: 460px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  padding-left: 15px; }

.screenform__label-house {
  margin-bottom: 5px; }

.screenform__field-house {
  width: 100px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  padding-left: 15px; }

.screenform__label-corpus {
  margin-bottom: 5px;
  text-transform: capitalize; }

.screenform__field-corpus {
  width: 100px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  padding-left: 15px; }

.screenform__label-flat {
  margin-bottom: 5px; }

.screenform__field-flat {
  width: 100px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  padding-left: 15px; }

.screenform__label-floor {
  margin-bottom: 5px; }

.screenform__field-floor {
  width: 100px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  padding-left: 15px; }

.screenform__other {
  max-width: 461px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }

.screenform__field-comment {
  width: 460px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  min-height: 110px;
  padding: 15px;
  resize: none; }

.screenform__label-comment {
  margin-bottom: 5px; }

.screenform__radiobuttons {
  margin-bottom: 30px; }

.screenform__radio {
  margin-right: 10px; }

.screenform__radiocustom {
  display: inline-block;
  margin-right: 5px; }

.screenform__radio-item {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .screenform__radio-item:checked + .screenform__radiocustom:before {
    opacity: 1; }

.screenform__radiocustom {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: relative; }
  .screenform__radiocustom:before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #e35028;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0; }

.screenform__checkboxblock {
  margin-bottom: 20px; }

.screenform__checkbox-item {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .screenform__checkbox-item:checked + .screenform__checkboxcustom:before {
    opacity: 1; }

.screenform__checkboxcustom {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff; }
  .screenform__checkboxcustom:before {
    content: "";
    width: 11px;
    height: 9px;
    background-image: url(../img/form_screen/check.png);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0; }

.screenform__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.screenform__button-order {
  border-radius: 5px;
  width: 97px;
  height: 36px;
  border: none;
  background-color: #e45028;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'ubuntumedium', sans-serif;
  font-size: 0.81rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-right: 20px; }
  .screenform__button-order:hover {
    color: burlywood; }

.screenform__button-clear {
  text-transform: capitalize;
  background-color: transparent;
  border: none; }

.screencontacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.screencontacts__map {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-image: url(../img/contacts_screen/map.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.footer {
  background-color: #0b0b0b;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.footer__container {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__contacts {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5px; }

.footer__contacts-adress {
  padding-top: 5px; }

.footer__contacts-tel {
  padding: 5px 25px; }

.footer__contacts-tellink {
  padding: 0;
  margin: 0;
  font-family: 'ubuntubold';
  font-weight: 800;
  color: #e35028;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative; }
  .footer__contacts-tellink:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(../img/icons/phone.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 3px;
    left: -25px; }
  .footer__contacts-tellink:hover {
    text-decoration: underline; }

.footer__social {
  width: 50%; }

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.footer__social-item {
  margin: 0 7px; }

.svgicon {
  fill: #595959;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .svgicon:hover {
    fill: #fff; }

.pagginator__list {
  position: fixed;
  top: 80px;
  right: 50px; }
  .pagginator__list .pagginator__item {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 15px;
    position: relative; }
    .pagginator__list .pagginator__item:first-child:after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 1px solid #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

/*# sourceMappingURL=main.css.map */