@mixin titlefont($color) {
	font-family: 'Gagalin-Regular', sans-serif;
	font-size: 4.5rem;
	font-weight: 400;
	text-transform: uppercase;
	color: $color;
}

@mixin menufont {
	font-family: 'ubuntumedium', sans-serif;
	font-size: 0.81rem;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;

}


@mixin button {
	
	border-radius: 5px;

	width: 97px;
	height: 36px;
//	text-align: center;
	border: none;
	background-color: #e45028;

	cursor: pointer;
	
	    display: flex;
	align-items: center;
	justify-content: center;
	
	@include menufont;

	&:hover {
		color: burlywood;
	}

}