.pagginator__list {

	position: fixed;
	top: 10%;
	right:2%;


	& .pagginator__item {



		display: block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #fff;
		margin-bottom: 15px;
	position: relative;
		
		@include tablet {
			display: none;
		}


	}

}




.pagginator__item_active {
		
display: block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #fff;
		margin-bottom: 15px;
		position: relative;
	
		&:before {
			display: block;
			content: "";
			width: 18px;
			height: 18px;
			border-radius: 50%;
			border: 1px solid #fff;
	background-color: transparent;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			}

}

.pagginator__link {
	display: block;
	width: 15px; 
	height: 15px;
	background-color: transparent;
	position: absolute;
	top: -50%;
	left: -50%;
}