html,
body {
    height: 100%;
    width: 100%;
    overflow: visible;
}

h1,h2,h3 {
margin: 0;
padding: 0;}

ul{
	&li{
		list-style: none;
	}
}

a{
	text-decoration: none;
}



.wrapper {
	min-width: 1100px;
	margin: 0 auto;
}

.screen {
	height: 100vh;
}

.container {
	width: 960px;
}