//@import url(base.scss);
//@import url(../blocks/meeting.scss);
//.....................FUNCT
@mixin titlefont($color) {
	font-family: 'Gagalin-Regular', sans-serif;
	font-size: 4.5rem;
	font-weight: 400;
	text-transform: uppercase;
	color: $color;
}

@mixin menufont {
	font-family: 'ubuntumedium', sans-serif;
	font-size: 0.81rem;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;

}




//  ..........................BASE
html,
body {
	height: 100%;
	width: 100%;
	overflow: visible;
}

html {
	box-sizing: border-box;

}

*,
*:before,
*:after {
	box-sizing: inherit;

}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

ul {

	& li {
		list-style: none;

	}
}

a {
	text-decoration: none;
}



.wrapper {
	height: 100%;

	margin: 0 auto;
}


.screen {


	height: 100vh;
	min-height: 650px;
	margin: 0 auto;

}

.container {
	max-width: 1100px;
	margin: 0 auto;

}


//....................MEETING
.screenmeeting {

	background-color: black;
	background-image: url(../../img/meeting_screen/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

.container-screenmeeting {
	height: 100vh;
	min-height: 650px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.header {

		display: flex;
	justify-content: space-around;
	align-items: flex-start;

}

.header__navigation {
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.menu__list {
	
	& .menu__item {

		display: inline-block;
		@include menufont;

		&:after {
			content: "•";
			display: inline;
			color: #fff;



		}


		&:last-child:after {
			content: "";
			display: inline-block;
			color: #fff;
		}
	}

	& .menu__item-link {
		color: #fff;
		margin: 0 13px;


		&:hover {
			color: #aaa;
		}
	}

}

.screenmeeting__anker {
	display: flex;
	align-items: center;
	justify-content: center;

}

.button {
	@include menufont;

	border-radius: 5px;

	width: 97px;
	height: 36px;
	text-align: center;
	border: none;
	background-color: #e45028;

	cursor: pointer;

	&:hover {
		color: burlywood;
	}

}

//...................screenmeeting__block
.screenmeeting__content {

	display: flex;

	justify-content: center;
	align-items: center;

	
}

.screenmeeting__content-img {

	width: 451px;
	height: 425px;

	background-image: url(../../img/icons/drops.svg);

	background-repeat: no-repeat;
	background-size: contain;
	position: relative;

	margin-left: -40px;

	&:after {
		content: "";
		display: block;
		width: 417px;
		height: 424px;
		background-image: url(../../img/meeting_screen/burger.png);
		background-repeat: no-repeat;
		background-size: cover;

		position: absolute;
		top: -62px;
		left: 30px;
	}


}



.screenmeeting__content-title {

	flex: 0;

	@include titlefont(#f9b43b);

	margin-top: -50px;





	& .screenmeeting__content-titlemode {
		font-family: 'Lifehack-Medium', sans-serif;
		text-transform: lowercase;
		font-size: 4rem;
		color: #fff;
		font-style: italic;
		font-weight: 400;
		padding-top: 15px;


		flex-wrap: wrap;
	}
}



.screenmeeting_arrow-link {
	display: block;
	width: 30px;
	height: 30px;
	background-image: url(../../img/icons/arrow-scroll.svg);
	background-repeat: no-repeat;
	margin: auto; //	margin-bottom: 30px;
}




//............................................BEST
.screenbest {
	background-color: #fff;
	background-image: url(../../img/best_screen/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	align-items: center;
	justify-content: space-around;




}

.screenbest__title-text {

	@include titlefont(#2f3234);
	text-align: center;
	margin-top: -50px;


}


.screenbest__list {
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-between;

	& .screenbest__item {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;


		max-width: 290px;
		margin: 0 15px;
	}

}

.screenbest__item-img {

	width: 185px;
	min-height: 150px;
}

@each $screenbestimg in (meat, hand, natural) {
	.screenbest__item-img_#{$screenbestimg} {
		background-image: url(../../img/icons/#{$screenbestimg}.svg);
		background-repeat: no-repeat;
		background-position: center;

	}

}

.screenbest__item-title {

	text-align: center;
	vertical-align: baseline;
	font-family: 'Lifehack-Medium', sans-serif;
	font-size: 1.5rem;
	margin-bottom: 20px;

}


.screenbest__item-content {
	font-family: 'ubuntulight', sans-serif;
	color: rgba(47, 50, 52, 0.8);
	font-size: 0.8rem;
	text-align: justify;
	line-height: 24px;


}


//......................................COMMENTS
.screencomments {
	background-color: #333;
}

.screencomments__list {


	display: flex;
	align-content: stretch;
	justify-content: center;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;


	& .screencomments__item {
		position: relative;



		&:hover .screencomments__content {
			opacity: 1;

		} //	& .screencomments__img {
		//
		////		width: 275px;
		////		min-height: 325px;
		////		height: 50vh;
		//		
		//		
		//
		//	}
		& .screencomments__avatar {
			max-width: 275px;
			height: 50vh;
			min-height: 325px;

			display: block;
		}


	}

}

//@each $screencommentsimg in (anna, constantin, alina, max, igor, elena, ivan, gena) {
//	.screencomments__img_#{$screencommentsimg} {
//		background: url(../../img/comments_screen/#{$screencommentsimg}.jpg) no-repeat center;
//		background-size: cover;
//	}
//}
.screencomments__content {

	width: 245px;


	position: absolute;
	top: 50px;
	left: 20px;


	opacity: 0;

}

.screencomments__title {
	font-family: 'Gagalin-Regular', sans-serif;
	font-size: 0.875rem;
	color: #fff;
	margin-bottom: 20px;
	font-weight: normal;
}

.screencomments__text {
	font-family: 'ubuntulight', sans-serif;
	font-size: 0.875rem;
	color: #fff;
	line-height: 20px;
	text-align: left;

}

.screencomments__button {
	@extend .button;
	background-color: #2f3234;
}

//..................PAGGINATOR
.pagginator__list {

	position: fixed;
	top: 80px;
	right: 50px;


	& .pagginator__item {



		display: block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #fff;
		margin-bottom: 15px;

		position: relative;


		&:first-child:after {
			content: "";
			display: block;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			border: 1px solid #fff;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

}
