.screencomments {

	display: flex;
	justify-content: space-between;
	background-color: #333;



}

.screencomments__list {

width: 100%;

	display: flex;
	flex-wrap: wrap;


	margin: 0;
	padding: 0;


	& .screencomments__item {


		position: relative;

		flex-basis: 25%;
		height: 50%;


		&:hover .screencomments__content {
			opacity: 1;

		}

		&:hover:before {
			content: "";
			display: block;

			width: 100%;
			height: 100%;

			background-color: rgba(69, 69, 69, 0.7);
			
			position: absolute;
			top:0;


		}

	}

}

.screencomments__img {

	width: 100%;
	height: 100%;
}

.screencomments__avatar {
	display: flex;

	width: 100%;
	height: 100%;
	object-fit: cover;

}

.screencomments__content {


	position: absolute;
	top: 50px;
	left: 20px;


	opacity: 0;

}

.screencomments__title {
	font-family: 'Gagalin-Regular', sans-serif;
	font-size: 0.875rem;
	color: #fff;
	margin-bottom: 20px;
	font-weight: normal;
}

.screencomments__text {
	font-family: 'ubuntulight', sans-serif;
	font-size: 0.875rem;
	color: #fff;
	line-height: 20px;
	text-align: left;

}

.screencomments__button {
	@include button;
	background-color: #2f3234;
}
