.screenform {
	background-image: url(../img/form_screen/bg-screenform.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
	display: flex;
	align-items: center;
		
}

.screenform__container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

	

.screenform__title-text {
	@include titlefont($yellow);
		margin-bottom: 20px;
}

.screenform__form {
	margin: 0 auto;
	
	display: flex;
justify-content: space-between;
	
	.screenform__base {
		max-width: 461px;
		margin-right: 20px;
         display: flex;
		
		flex-wrap: wrap;
		justify-content: space-between;
		
		flex-basis: 50%;
	}
	
	.screenform__field {
//		margin-bottom: 10px;
	}
}

.screenform__label-name{
	@extend %contenttext;
	margin-bottom: 5px;
	
}

.screenform__field-name {
	@include screenformfield(221px);
	
}

.screenform__label-phone{
	@extend %contenttext;
	margin-bottom: 5px;
}

.screenform__field-phone {
	@include screenformfield(221px);
	
}

.screenform__label-street{
	@extend %contenttext;
	margin-bottom: 5px;
}

.screenform__field-street {
	@include screenformfield(460px);
	
}


.screenform__label-house{
	@extend %contenttext;
	margin-bottom: 5px;
}

.screenform__field-house {
	@include screenformfield(100px);
	
}


.screenform__label-corpus{
	@extend %contenttext;
	margin-bottom: 5px;
	text-transform: capitalize;
}

.screenform__field-corpus {
	@include screenformfield(100px);
	
}

.screenform__label-flat{
	@extend %contenttext;
	margin-bottom: 5px;
}

.screenform__field-flat {
	@include screenformfield(100px);
	
}

.screenform__label-floor{
	@extend %contenttext;
	margin-bottom: 5px;
}

.screenform__field-floor {
	@include screenformfield(100px);
	
}

.screenform__other{
	max-width: 461px;
	
	display: flex;
		flex-direction: column;
		
	
		flex-basis: 50%;
	
}

.screenform__field-comment {
	@include screenformfield(460px);
	min-height: 110px;
	
	padding: 15px;
	
resize: none;
}

.screenform__label-comment {
	@extend %contenttext;
	margin-bottom: 5px;
}

.screenform__radiobuttons {
	margin-bottom: 30px;
}

.screenform__radio {
	margin-right: 10px;
}
.screenform__radiocustom {
	display: inline-block;
	margin-right: 5px;
}
.screenform__label-radio {
	@extend %contenttext;
	
}

.screenform__radio-item {
	display: none;
	
	transition: 0.5s;
	&:checked + .screenform__radiocustom:before {
		opacity: 1;
	}
	
}

.screenform__radiocustom {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #fff;
	
	position: relative;
	
	&:before {
		content: "";
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background-color: #e35028;
		
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		opacity: 0;
	}
	
}

.screenform__checkboxblock { 
margin-bottom: 20px;
}
.screenform__checkbox-item {
	display: none;
	
	transition: 0.5s;
	
	&:checked + .screenform__checkboxcustom:before {
		opacity: 1;
	}
}



.screenform__checkboxcustom {
	position: relative;
	
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #fff;
	
	&:before {
		content: "";
		width: 11px;
		height: 9px;
		
		background-image: url(../img/form_screen/check.png);
		
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		
	}
}

.screenform__label-checkbox {
	@extend %contenttext;
	
}
.screenform__buttons {
	display: flex;
}

.screenform__button-order {
	@include button;
	margin-right: 20px;
}



.screenform__button-clear {
	@extend %contenttext;
	text-transform: capitalize;
	background-color: transparent;
	border: none;
}

