.pagginator__list {

	position: fixed;
	top: 80px;
	right: 50px;


	& .pagginator__item {



		display: block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #fff;
		margin-bottom: 15px;

		position: relative;


		&:first-child:after {
			content: "";
			display: block;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			border: 1px solid #fff;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

}
